@model IEnumerable<EduPortal.Models.TaskAnswers>;
@{
     Layout = "_LayoutAdmin";
}
<section class="section">
    <div class="section-body">
        <div class="row">

            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                    
                    
                    <div class="card-body p-0">
                        <div  id="tab" class="table-responsive">
                            <table class="table table-striped table-md">
                                <tr>
                                    <th>Id</th>
                                    <th>Student Name</th>
                                    <th>Submited At</th>
                                    <th>Task Solution</th>
                                    <th>Mark</th>
                                    <th></th>
                                   

                                </tr>
                                @foreach (var record in Model)
                                {
                                    <tr>
                                        <td>@record.StudentTask.StudentTaskId</td>
                                     
                                          <td>@record.Student.FullName</td>
                                          <td>@record.StudentTask.SubmittedAt</td>
                                           <td>
                                                 <a href="~/Uploads/@record.StudentTask.AttactmentFile" download class="btn btn-primary">Download Answer</a>
                                           </td>
                                            <td>@record.StudentTask.FinalResult</td>
                                             <td>
                                              <a asp-action="ViewAnswerAndInsertMark" asp-route-id="@record.StudentTask.StudentTaskId" class="btn btn-primary">Insert Mark</a>
                                            </td>
                                    </tr>
                                }

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>