@model EduPortal.Models.RegisteredSession;
@{
    Layout = "_LayoutStudent";
    var meeting = ViewBag.Metting as IEnumerable<EduPortal.Models.Metting>;
    var taks = ViewBag.Task as IEnumerable<EduPortal.Models.Task>;
    var mat = ViewBag.Matierial as IEnumerable<EduPortal.Models.Material>;
    var std = ViewBag.myStudent as IEnumerable<EduPortal.Models.SessionAvailableStudents>;
    var exam =ViewBag.Exam as  IEnumerable<EduPortal.Models.Exam>;
    var chats = ViewBag.chats as IEnumerable<EduPortal.Models.ChatsContent>;

    var goals = ViewBag.Goals as IEnumerable<EduPortal.Models.Goals>;
    var topic = ViewBag.Topic as IEnumerable<EduPortal.Models.Topic>;

}
  <div class="loader"></div>
        <section class="section">
          <div class="section-body">
            <div class="row">
              <div class="col-12 col-sm-12 col-lg-12">
                <div class="card">
                  <div class="card-header">
                      <h4>@Model.Course.Name Session - from :  @Html.Label(@Model.Session.StartAt.ToString().Substring(0,9)) - to  @Html.Label(@Model.Session.EndAt.ToString().Substring(0,10))</h4>
                  </div>
                  <div class="card-body">
                    <ul class="nav nav-tabs" id="myTab2" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" id="home-tab2" data-toggle="tab" href="#home2" role="tab"
                          aria-controls="home" aria-selected="true">Main Information</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="profile-tab2" data-toggle="tab" href="#profile2" role="tab"
                          aria-controls="profile" aria-selected="false">Session Mate</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="contact-tab2" data-toggle="tab" href="#contact2" role="tab"
                          aria-controls="contact" aria-selected="false">Tasks</a>
                      </li>
                       <li class="nav-item">
                        <a class="nav-link" id="contact-tab2" data-toggle="tab" href="#contact3" role="tab"
                          aria-controls="contact" aria-selected="false">Matierials</a>
                      </li>
                       <li class="nav-item">
                        <a class="nav-link" id="contact-tab2" data-toggle="tab" href="#contact4" role="tab"
                          aria-controls="contact" aria-selected="false">Exams</a>
                      </li>
                       <li class="nav-item">
                        <a class="nav-link" id="contact-tab2" data-toggle="tab" href="#contact5" role="tab"
                          aria-controls="contact" aria-selected="false">Chats</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="contact-tab2" data-toggle="tab" href="#contact6" role="tab"
                          aria-controls="contact" aria-selected="false">Topic</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="contact-tab2" data-toggle="tab" href="#contact7" role="tab"
                          aria-controls="contact" aria-selected="false">Goals</a>
                      </li>
                     @* <li class="nav-item">
                        <a class="nav-link" id="contact-tab2" data-toggle="tab" href="#contact6" role="tab"
                          aria-controls="contact" aria-selected="false">Question Bank</a>
                      </li>*@

                    </ul>
                    <div class="tab-content tab-bordered" id="myTab3Content">
                      <div class="tab-pane fade show active" id="home2" role="tabpanel" aria-labelledby="home-tab2">
                       <div class="card">
                  <div class="card-header">
                    <h4>Course And Session Details</h4>
                  </div>
                  <div class="card-body">
                    <div class="py-4">
                      <p class="clearfix">
                        <span class="float-left">
                          Course Name
                        </span>
                        <span class="float-right text-muted">
                         @Model.Course.Name
                        </span>
                      </p>
                      <p class="clearfix">
                        <span class="float-left">
                          Time & Sucdule
                        </span>
                        <span class="float-right text-muted">
                          @Model.Schedule.Name  - @Model.Schedule.DayPerEachWeek Days
                        </span>
                      </p>
                      <p class="clearfix">
                        <span class="float-left">
                          Description
                        </span>
                        <span class="float-right text-muted">
                         @Model.Course.Description
                        </span>
                      </p>
                      <p class="clearfix">
                        <span class="float-left">
                          Meeting Link
                        </span>
                        <span class="float-right text-muted">
                            @foreach (var item in meeting)
                           {
                               <a href="@item.Link">Click Here To Join Meeting</a>
                           }
                          
                        </span>
                      </p>
                     @* <p class="clearfix">
                        <span class="float-left">
                          Twitter
                        </span>
                        <span class="float-right text-muted">
                          <a href="#">johndeo</a>
                        </span>
                      </p>*@
                    </div>
                  </div>
                </div>
                      </div>
                      <div class="tab-pane fade" id="profile2" role="tabpanel" aria-labelledby="profile-tab2">
                       <section class="section">
    <div class="section-body">

        <div class="row">

            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">


                    <div class="card-body p-0">
                        <div  id="tab" class="table-responsive">
                            <table class="table table-striped table-md">
                                <tr>
                                    <th>Id</th>
                                    <th>Image</th>
                                    <th>Name</th>
                                   @* <th>University Join Date</th>*@
                                    
                                    

                                </tr>
                                @foreach (var record in std)
                                {
                                    <tr>
                                        <td>@record.Student.StudentId</td>
                                         <td>
                            <img alt="image" src="~/Uploads/@record.Student.Image" class="rounded-circle" width="35"
                              data-toggle="tooltip" title="@record.Student.FullName">
                          </td>
                                        <td>@record.Student.FullName</td>
                                       
                                      
                                    </tr>
                                }

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>
                      </div>
                      <div class="tab-pane fade" id="contact2" role="tabpanel" aria-labelledby="contact-tab2">
                       
<section class="section">
    <div class="section-body">

        <div class="row">

            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">

                  @*  <div class="col-sm-12">
                        <h2 style="display:inline-block;">Tasks <b>Management</b></h2>
                        <button type="button" class="btn btn-primary"
                                   data-bs-toggle="modal" data-bs-target="#exampleModal2" style="float:right;">Add new Task</button>
                    </div>*@
                    <div class="card-body p-0">
                        <div  id="tab" class="table-responsive">
                            <table class="table table-striped table-md">
                                <tr>
                                    <th>Id</th>
                                    <th>Title</th>
                                    <th>TaskFile</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Action</th>
                                 
                                </tr>
                                @foreach (var record in taks)
                                {
                                    <tr>
                                        <td>@record.TaskId</td>
                                        <td>@record.Title</td>
                                                                        <td><div class="badge badge-warning">
                                        <a href="~/Uploads/@record.FilePath" download>Click here To Download</a>
</div> 
</td>
                                       
                                        
                                       
                                        <td>@record.StartAt</td>
                                        <td>@record.EndAt</td>
                                        <td>
                                        <a asp-action="UploadTask" asp-route-id="@record.TaskId" class="btn btn-primary">Submit Solution</a>
                                    
                                        </td>
                                    </tr>
                                }

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>
                      </div>

                       <div class="tab-pane fade" id="contact3" role="tabpanel" aria-labelledby="contact-tab2">
                                      <section class="section">
    <div class="section-body">

        <div class="row">

            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">

                  @*  <div class="col-sm-12">
                        <h2 style="display:inline-block;">Matierial <b>Management</b></h2>
                         <button type="button" class="btn btn-primary"
                                   data-bs-toggle="modal" data-bs-target="#exampleModal3" style="float:right;">Add new Unit</button>
                    </div>*@
                    <div class="card-body p-0">
                        <div  id="tab" class="table-responsive">
                            <table class="table table-striped table-md">
                                <tr>
                                    <th>Id</th>
                                    <th>Title</th>
                                    <th>Description</th>
                                    <th>Matireial File</th>
                                 
                                </tr>
                                @foreach (var record in mat)
                                {
                                    <tr>
                                        <td>@record.MaterialId</td>
                                         <td>@record.Title</td>
                                          <td>@record.Description</td>
                                                                                                                  <td><div class="badge badge-warning">
                                        <a href="~/Uploads/@record.FilePath" download>Click here To Download</a>
</div> 
</td>
                                       @* <td><a href="@record.FilePath" download class="btn btn-primary">Download File</a></td>*@
                                       
                                      

                                    </tr>
                                }

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>
                      </div>
                      
                       <div class="tab-pane fade" id="contact4" role="tabpanel" aria-labelledby="contact-tab2">
                                             
<section class="section">
    <div class="section-body">

        <div class="row">

            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">

@*                    <div class="col-sm-12">
                        <h2 style="display:inline-block;">My Session Exam <b></b></h2>
                         <button type="button" class="btn btn-primary"
                                   data-bs-toggle="modal" data-bs-target="#exampleModal4" style="float:right;">Add new Exam</button>
                    </div>*@
                    <div class="card-body p-0">
                        <div  id="tab" class="table-responsive">
                            <table class="table table-striped table-md">
                                <tr>
                                    <th>Id</th>
                                    <th>Exam Title</th>
                                    <th>Exam Date</th>
                                    <th>Mark of</th>
                                    <th>Start Exam</th>
                                 
                                </tr>
                                @foreach (var record in exam)
                                {
                                    <tr>
                                        <td>@record.ExamId</td>
                                         <td>@record.Title</td>
                                          <td>@record.StartDateandTime</td>
                                           <td>@record.Mark</td>
                                          
                                      <td>
                                           @if (@record.IsActive!=true)
                                              {
                                                 <a  class="btn btn-danger">This Exam Unavailable </a>
                                              }else{
                                              <a asp-action="Exam" asp-route-id="@record.ExamId" class="btn btn-primary">Get This Exam </a>
                                              }
                                       </td>

                                    </tr>
                                }

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>
                      </div>

                      
                       <div class="tab-pane fade" id="contact5" role="tabpanel" aria-labelledby="contact-tab2" style="height400px;">
                                
                           <div class="row">
                               <div class="page-content page-container" id="page-content">
    <div class="padding2">
        <div class="row container d-flex justify-content-center">
        <div class="col-md-12">
            <div class="card2 card-bordered2">
              <div class="card-header2">
                <h4 class="card-title2"><strong>Chat</strong></h4>
                <a class="btn2 btn-xs btn-secondary2" href="#" data-abc="true">Let's Chat App</a>
              </div>


              <div class="ps-container2 ps-theme-default2 ps-active-y2" id="chat-content" style="overflow-y: scroll !important; height:800px !important; width:1000px; display:flex; flex-direction:column; padding:90px;">
               
                  

                  @foreach (var item in chats)
                 {
                   @if(@item.Message.IsSendByTeacher==true){

                   
                  <div class="media2 media-chat2">
                  <img class="avatar2" width=40 height=40 src="https://media.istockphoto.com/vectors/blue-cute-robot-vector-id1191411980?k=20&m=1191411980&s=612x612&w=0&h=RwynZNA7Gf-VO3W8cuhI1s9bsKbZ1QZ89rKNrfSJCMA=" alt="...">
                  <div class="media-body2">
                   <span class="badge badge-secondary">Edu Portal Chat Boot</span>
                    <p>Hello How Can I Help You select on the Following </p>

                      <p>How Can I Reset Password</p>
                         <p>How Calnder It's Work</p>
                           <p>What The Mening Of Colors in Calender</p>
                             <p>Could I Have Chat with Adminstraitor</p>
                  
                  </div>
                  </div>
                  }else{

                  
                <div class="media2 media-chat2 media-chat-reverse2">
                  <div class="media-body2">
                   <span class="badge badge-light" style="float:right">My Name</span>
                    <p>You Need just select one of the above option</p>
                 
                   
                  </div>
                </div>
                
                  }
                 }
             

         


                


               

             
                </div>
                 </div>
                  </div>
                  </div>
                 </div>
                  </div>
                   </div>
                   <div class="publisher2 bt-1 border-light">
                  <form asp-action="SendMassages" method="post">
                <img class="avatar avatar-xs" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="...">
                <input type="text" name="sessionId" value="@Model.Session.SessionId" hidden readonly />
                <input type="text" name="isTeacher" value="false" hidden readonly />
                <input class="publisher-input2" type="text" name="text" placeholder="Write something" style="width:600px; margin-left:150px;">
                <span class="publisher-btn2 file-group2">
                  <i class="fa fa-paperclip2 file-browser2"></i>
                  <input type="file">
                </span>
                
                <button class="publisher-btn text-info" type="submit">
                     <i class="fa fa-paper-plane"></i>
                </button>
               
                </form>
              </div>
                  </div>

                                    
                       <div class="tab-pane fade" id="contact6" role="tabpanel" aria-labelledby="contact-tab2">
                                             
<section class="section">
    <div class="section-body">

        <div class="row">

            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">

@*                    <div class="col-sm-12">
                        <h2 style="display:inline-block;">My Session Exam <b></b></h2>
                         <button type="button" class="btn btn-primary"
                                   data-bs-toggle="modal" data-bs-target="#exampleModal4" style="float:right;">Add new Exam</button>
                    </div>*@
                    <div class="card-body p-0">
                        <div  id="tab" class="table-responsive">
                            <table class="table table-striped table-md">
                                <tr>
                                    <th>Id</th>
                                    <th>Topic Title</th>
                                     <th>Topic Sub Title</th>
                                   
                                 
                                </tr>
                                @foreach (var record in topic)
                                {
                                    <tr>
                                        <td>@record.TopicId</td>
                                         <td>@record.Title</td>
                                          <td>@record.SubTitle</td>
                                        
                                          
                                     

                                    </tr>
                                }

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>
                      </div>

                                                          
                       <div class="tab-pane fade" id="contact7" role="tabpanel" aria-labelledby="contact-tab2">
                                             
<section class="section">
    <div class="section-body">

        <div class="row">

            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">

@*                    <div class="col-sm-12">
                        <h2 style="display:inline-block;">My Session Exam <b></b></h2>
                         <button type="button" class="btn btn-primary"
                                   data-bs-toggle="modal" data-bs-target="#exampleModal4" style="float:right;">Add new Exam</button>
                    </div>*@
                    <div class="card-body p-0">
                        <div  id="tab" class="table-responsive">
                            <table class="table table-striped table-md">
                                <tr>
                                    <th>Id</th>
                                    <th>Goal Title</th>
                                     <th>Goal Description</th>
                                 
                                 
                                </tr>
                                @foreach (var record in goals)
                                {
                                    <tr>
                                        <td>@record.GoalsId</td>
                                         <td>@record.Title</td>
                                          <td>@record.Description</td>
                                         
                                          
                                     

                                    </tr>
                                }

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>
                      </div>

              <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;"><div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; height: 0px; right: 2px;"><div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 2px;"></div></div></div>

              

             </div>
          </div>
          </div>
          </div>
         

                           </div>

        </section>
        
        @*TaskMoal*@
	<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen-xxl-down">
            <div class="modal-content">
                <form asp-action="InsertTask" method="post" enctype="multipart/form-data">
                <div class="modal-header">
                  Add New Task
                </div>
                <div class="modal-body">
				<div class="row">
                    <input type="number" name="sid" value="@Model.Session.SessionId" readonly hidden />
				         <div class="form-group col-md-12 col-12">
                            <label>Task Title</label>
                             <input type="text" class="form-control" name="title" required>    
                         </div>
                         
				         <div class="form-group col-md-12 col-12">
                            <label>Description</label>
                             <input type="text" class="form-control" name="note" required>    
                         </div>
                         
				         <div class="form-group col-md-12 col-12">
                            <label>File</label>
                             <input type="file" class="form-control" name="taskFile" required>    
                         </div>

                         
				         <div class="form-group col-md-12 col-12">
                             <label>Mark</label>
                             <input type="number" class="form-control" name="mark" required>    
                         </div>
                                             
                    <div class="form-group col-12">
                      <label>Start Date</label>
                      <input type="date" class="form-control" name="start" required>
                    </div>
                        

                                                                 
                    <div class="form-group col-12">
                      <label>End Date</label>
                      <input type="date" class="form-control" name="end" required>
                    </div>
                        

                                                                 
                    <div class="form-group col-12">
                      <label>Last Date</label>
                      <input type="date" class="form-control" name="lastdate" required>
                    </div>
                        


				          
                </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn" data-bs-dismiss="modal">Close</button>
                </div>
                </form>
            </div>
        </div>
    </div>

      @*MatierialMoal*@
	<div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen-xxl-down">
            <div class="modal-content">
                 <form asp-action="InsertMatierial" method="post" enctype="multipart/form-data">
                <div class="modal-header">
                  Add New Matierial
                </div>
                <div class="modal-body">
				<div class="row">
				  <input type="number" name="sid" value="@Model.Session.SessionId" readonly hidden />
				<div class="form-group col-md-12 col-12">
                            <label>Unit Title</label>
                             <input type="text"  class="form-control" name="title" required>    
                         </div>
                         
				         <div class="form-group col-md-12 col-12">
                            <label>Description</label>
                             <input type="text" class="form-control" name="desc" required>    
                         </div>
                         
				         <div class="form-group col-md-12 col-12">
                            <label>File</label>
                             <input type="file" class="form-control" name="path" required>    
                         </div>

                </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" >Save</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    <!---------------------Questions Dialog------------------------->

        @*Exam Modal*@
	<div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen-xxl-down">
            <div class="modal-content">
                 <form asp-action="InsertExam" method="post" enctype="multipart/form-data">
                <div class="modal-header">
                  Add New Exam
                </div>
                <div class="modal-body">
				<div class="row">
				  <input type="number" name="cid" value="@Model.Course.CourseId" readonly hidden />
                  


                       <div class="form-group col-md-12 col-12">
                             <label>Exam Title</label>
                             <input type="text"  class="form-control" name="title" required>    
                         </div>
				        <div class="form-group col-12">
                              <label>Start At</label>
                              <input type="date" class="form-control" name="start" required>
                       </div>
                         
				         <div class="form-group col-12">
                              <label>End At</label>
                              <input type="date" class="form-control" name="end" required>
                       </div>
                         
				         <div class="form-group col-md-12 col-12">
                            <label>Summation Of Question</label>
                             <input type="number" class="form-control" name="sum" required>    
                         </div>

                          <div class="form-group col-md-12 col-12">
                            <label>Exam Mark</label>
                             <input type="number" class="form-control" name="mark" required>    
                         </div>

                </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" >Save</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>
                </form>
            </div>
        </div>
    </div>