@model IEnumerable<EduPortal.Models.ToDoList>;
@{
      Layout = "_LayoutStudent";
}
  <div class="loader"></div>
  <div id="app">
      <section class="section">

          <div class="section-body">
               
            <div class="row">
               <div class="col-sm-12">
                       
                    <button type="button" class="btn btn-primary"
                         data-bs-toggle="modal" data-bs-target="#exampleModal2" style="float:right;">Add new Task
                     </button>
                </div>
             
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="card">
                  <div class="boxs mail_listing">
                    <div class="inbox-center table-responsive">
                      <table class="table table-hover">
                        <thead>
                            <th>Name</th>
                            <th>Status & Description </th>
                            <th>Actions</th>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                           {
                            <tr class="unread">
                           
                            
                            <td class="hidden-xs">@item.TaskTitle</td>
                            <td class="max-texts">
                              <a href="#">
                                @if(@item.ToDoListId==1){
                                     <span class="badge badge-warning">To Do</span>
                                }else if(@item.ToDoListId==2){
                                     <span class="badge badge-primary">In Progress</span>
                                }else{
                                     <span class="badge badge-success">Done</span>
                                }
                               
                                @item.Description</a>
                            </td>
                           
                           
                            
                             <td class="max-texts">
                              @if(@item.ToDoListId==1){
                                <a asp-action="UpdateToDo" asp-route-id="@item.ToDoListId" asp-route-statusid="2">
                                <span class="badge badge-success">Start</span>
                               </a>
                                }else if(@item.ToDoListId==2){
                                     <a asp-action="UpdateToDo" asp-route-id="@item.ToDoListId" asp-route-statusid="3">
                                <span class="badge badge-success">Done</span>
                               </a>
                                }else{
                                  <a asp-action="DeleteToDo" asp-route-id="@item.ToDoListId">
                                <span class="badge badge-danger">Remove</span>
                               </a>
                                }
                            </td>
                            
                          </tr>
                           }
                         
                          
                         
                        </tbody>
                      </table>
                    </div>
                    <div class="row">
                      <div class="col-sm-7 ">
                        <p class="p-15">Showing :1000</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
               <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                <div class="card">
                  <div class="body">
                    <div id="mail-nav">
                      <h5 class="b-b p-10 text-strong">Status </h5>
                      <ul class="" id="mail-labels">
                        <li>
                          <a href="javascript:;">
                            <i class="material-icons col-red">local_offer</i>To DO</a>
                        </li>
                        <li>
                          <a href="javascript:;">
                            <i class="material-icons col-blue">local_offer</i>In Progrss</a>
                        </li>
                        <li>
                          <a href="javascript:;">
                            <i class="material-icons col-orange">local_offer</i>Done</a>
                        </li>
                        
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
  </div>
  <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen-xxl-down">
            <div class="modal-content">
                <form asp-action="AddToDo" method="post" enctype="multipart/form-data">
                <div class="modal-header">
                  Add New Task To Do
                </div>
                <div class="modal-body">
				<div class="row">
                   @* <input type="number" name="sid" value="Model.Session.SessionId" readonly hidden />*@
				         <div class="form-group col-md-12 col-12">
                            <label>Task Title</label>
                             <input type="text" class="form-control" name="title" required>    
                         </div>
                         
				         <div class="form-group col-md-12 col-12">
                            <label>Description</label>
                             <input type="text" class="form-control" name="note" required>    
                         </div>
                </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn" data-bs-dismiss="modal">Close</button>
                </div>
                </form>
            </div>
        </div>
    </div>